<%- include('partials/header.ejs') %>
                    <div class="user-dashboard">
                        <h1>Hello</h1>
                        <h3>Prospects</h3>
                            <div class="row">
                                <form action="/addPlayer">
                                    <button class="btn btn-primary"> Add New Player </button>
                                </form>
                              <% playerList.forEach(function(player){  %>
                               <div class="col-lg-4 col-md-6 mb-4">
                                 <div class="card h-100">
                                  <div class="card-body">
                                    <h4 class="card-title">
                                        <img class='col-sm-4 portrait' src=<%=player.playerPicture%> />
                                        Name: <%= player.playerName %> 
                                        Position: <%= player.playerPosition %> 
                                        Age: <%= player.playerAge %> <br>
                                        <a class="btn btn-primary btn-sm" href="/edit?name=<%= player.playerName %>">Update</a>
                                        <a onclick="deleteConfirm()" class="btn btn-primary btn-sm" href="/deletePlayer?id=<%= player.playerId %>">Delete</a>
                                    </h4>
                                    </div>
                                  </div>
                                  <div class="card-footer">
                                  </div>
                               </div>
                              </div>
                            <% }) %>
                            </div>
                            <!-- /.row -->
                          </div>
                          <!-- /.col-lg-9 -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>